main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}



.grid-container {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menu main main main right right'
      'menu footer footer footer footer footer';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

table {
    background-color: transparent;
    margin-bottom: 1rem;
    width: 50%;
}

thead {
    align-items: left;
    text-align: left;
}

table th,
table td {
    padding: 0.75rem;
    vertical-align: middle;
}

/* tbody tr:nth-of-type(odd) {
    background-color: rgb(0, 0, 0, 0.05);
} */


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    width: 90%;
}

.table_info {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    text-align: left;
    width: 90%;
}

.section {
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
}

.section:hover {
    background-color: #f5f5f5;
    transition: color 2s ease-in-out, background-color 0.15s ease-in-out;
}


/* Menu */



/* Actions */

.float {
    float:center
}

.form-order {
    position:relative
}


  
h1 {
    text-align: center;
}

form {
    margin: 2%;
}

.inputrow {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-direction: row;
}

.feedback-input-row {
    display: flex;
    align-items: baseline;
    flex-flow: row nowrap;
    justify-content: flex-start;
    flex-direction: column;
}

.buffer {
    padding-bottom: 1rem;
}

.gas_calc {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row;
}

p {
    padding-right: 1rem;
}

.forminputrow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
}


label {
    padding: 10px 20px;
    width: 60%;
    text-align: right;
    padding-right: 10%;
}
input {
    width: 40%;
    height: 2em;
    font-size: 100%;
}  

.chart {
    width: 40%;
    height: 20%;
    align-items: right;
    display: block;
}

.before-footer {
    padding-top: 1rem;
}

.last-input {
    padding-bottom: 1rem;
}

.left {
    align-items: left;
    text-align: left;
}


.bottom {
    padding-bottom: 0.5rem;
}